<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .go-home-btn {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Что вы хотите отдать?</h1>
    <form th:action="@{/item/addItem}" method="post" th:object="${item}">
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea class="form-control" id="description" name="description" th:field="*{description}" required></textarea>
        </div>
        <div class="form-group">
            <label for="group">Для кого:</label>
            <select class="form-control" id="group" name="group" th:field="*{groupId}">
                <option value="">-- Показывать всем --</option>
                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
            <input type="hidden" th:field="*{groupName}" id="groupName">
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить</button>

    </form>
</div>
<!-- Кнопка для перехода на главную страницу -->
<a href="/" class="btn btn-light go-home-btn"><i class="fas fa-home"></i></a>

<!-- Bootstrap JS and jQuery (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var groupSelect = document.getElementById("group");
        var groupNameField = document.getElementById("groupName");

        groupSelect.addEventListener("change", function() {
            if (groupSelect.value === "") {
                groupNameField.value = null;
            } else {
                var selectedGroupName = groupSelect.options[groupSelect.selectedIndex].text;
                groupNameField.value = selectedGroupName;
            }
        });

        // Set initial value
        if (groupSelect.selectedIndex !== -1 && groupSelect.value !== "") {
            var initialGroupName = groupSelect.options[groupSelect.selectedIndex].text;
            groupNameField.value = initialGroupName;
        }
    });
</script>
</body>
</html>
