<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${item.title + ' - Rent Item'}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 20px;
        }

        .container {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .go-home-btn {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${item.title + ' - Rent Item'}"></h1>
    <form id="rentForm" th:action="@{/rent/submitRentContract}" th:object="${newRentContract}" method="post">
        <!-- Скрытое поле для передачи значения itemId -->
        <input type="hidden" id="rentalItemId" name="rentalItemId" th:value="${item.id}"/>
        <!-- Скрытое поле для передачи значения status -->
        <input type="hidden" id="status" name="status" th:value="205"/>

        <div class="form-group">
            <label for="comment">Напишите коментарий владельцу:</label>
            <textarea class="form-control" id="comment" name="comment" th:value="${newRentContract.comment}"></textarea>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="specificDateCheckbox" name="specificDateCheckbox">
            <label class="form-check-label" for="specificDateCheckbox">Specify Date</label>
        </div>
        <div class="form-group specific-date-fields" style="display:none;">
            <label for="reservedFromDateFromForm">Reserved From Date:</label>
            <input type="date" class="form-control" id="reservedFromDateFromForm" name="reservedFromDateFromForm" th:value="${#dates.format(newRentContract.reservedFrom, 'yyyy-MM-dd')}"/>
        </div>
        <div class="form-group specific-date-fields" style="display:none;">
            <label for="reservedToDateFromForm">Reserved To Date:</label>
            <input type="date" class="form-control" id="reservedToDateFromForm" name="reservedToDateFromForm" th:value="${#dates.format(newRentContract.reservedTo, 'yyyy-MM-dd')}"/>
        </div>
        <div class="form-group form-check specific-date-fields" style="display:none;">
            <input type="checkbox" class="form-check-input" id="specificTimeCheckbox" name="specificTimeCheckbox">
            <label class="form-check-label" for="specificTimeCheckbox">Specify Time</label>
        </div>
        <div class="form-group specific-time-fields" style="display:none;">
            <label for="reservedFromTimeFromForm">Reserved From Time:</label>
            <input type="time" class="form-control" id="reservedFromTimeFromForm" name="reservedFromTimeFromForm" th:value="${#dates.format(newRentContract.reservedFrom, 'HH:mm')}"/>
        </div>
        <div class="form-group specific-time-fields" style="display:none;">
            <label for="reservedToTimeFromForm">Reserved To Time:</label>
            <input type="time" class="form-control" id="reservedToTimeFromForm" name="reservedToTimeFromForm" th:value="${#dates.format(newRentContract.reservedTo, 'HH:mm')}"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- Кнопка для перехода на главную страницу -->
<a href="/" class="btn btn-light go-home-btn"><i class="fas fa-home"></i></a>

<!-- Bootstrap JS and jQuery (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('#specificTimeCheckbox').change(function(){
            if(this.checked) {
                $('.specific-time-fields').show();
            } else {
                $('.specific-time-fields').hide();
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#specificDateCheckbox').change(function(){
            if(this.checked) {
                $('.specific-date-fields').show();
            } else {
                $('.specific-date-fields').hide();
            }
        });
    });
</script>
</body>
</html>
