<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .user-info,
        .contracts-info {
            background-color: #f0f0f0;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .btn-top-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .edit-btn {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5 position-relative">
    <button onclick="window.history.back()" class="btn btn-secondary btn-top-right">Back</button>
    <div class="row">
        <!-- Блок с информацией о пользователе -->
        <div class="col-md-6 user-info" th:if="${userInfo != null}">
            <div class="d-flex justify-content-between align-items-center edit-btn">
                <h2 th:text="${userInfo.user.login}">User Login</h2>
                <button class="btn btn-primary">Edit</button>
            </div>
            <p>ID: <span th:text="${userInfo.user.id}"></span></p>
            <p>Email: <span th:text="${userInfo.user.email}"></span></p>
        </div>
    </div>
    <div class="row">
        <!-- Блок с Sharing History -->
        <div class="col-md-6 contracts-info" th:if="${userInfo != null and not #lists.isEmpty(userInfo.userRentContracts)}">
            <h2>Sharing history</h2>
            <ul>
                <li th:each="contract : ${userInfo.userRentContracts}" th:if="${contract.status == 201 or contract.status == 202}">
                    <span class="contract-link" th:text="${contract.rentalItem.title}" th:attr="data-item-id=${contract.rentalItem.id}"></span> - Reserved to: <span th:text="${contract.reservedTo}"></span>
                    <a th:href="'/rent/' + ${contract.id}" class="btn btn-primary btn-sm">View</a>
                </li>
                <li th:unless="${userInfo.userRentContracts.![status].contains(201) or userInfo.userRentContracts.![status].contains(202)}">No rent contracts found.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- Блок с requests for rent (для владельца) -->
        <div class="col-md-6 contracts-info" th:if="${userInfo != null and userInfo.access == 'owner' and not #lists.isEmpty(userInfo.userRentContracts)}">
            <h2>Requests for sharing</h2>
            <ul>
                <li th:each="contract : ${userInfo.userRentContracts}" th:if="${contract.status == 205 and contract.rentalItem.ownerId == userInfo.user.id}">
                    <span class="contract-link" th:text="${contract.rentalItem.title}" th:attr="data-item-id=${contract.rentalItem.id}"></span> - Reserved from: <span th:text="${contract.reservedFrom}"></span> to: <span th:text="${contract.reservedTo}"></span>
                    <a th:href="'/rent/' + ${contract.id}" class="btn btn-primary btn-sm">View</a>
                </li>
                <li th:unless="${userInfo.userRentContracts.![status].contains(205)}">No rent requests found.</li>
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('.item-link, .contract-link').click(function() {
            var itemId = $(this).data('item-id');
            window.location.href = '/item/' + itemId;
        });
    });
</script>
</body>
</html>
