<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Ads</h1>
    <a class="btn btn-primary mb-3" href="/item/new">Add New Item</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Cost Per Hour</th>
            <th>Cost Per Day</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td><a th:href="@{'/user/' + ${item.ownerId}}" th:text="${item.ownerName}"></a></td>
            <td><a th:href="@{'/item/' + ${item.id}}" th:text="${item.title}"></a></td>
            <td th:text="${item.description}"></td>
            <td>
                <span th:if="${item.status == 1}">Reserved</span>
                <span th:if="${item.status != 1}">Not Reserved</span>
            </td>
            <td th:text="${item.costPerHour}"></td>
            <td th:text="${item.costPerDay}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and jQuery (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
