<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        h2 {
            color: #007bff;
        }
        p {
            margin-bottom: 10px;
        }
        form {
            margin-top: 15px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Запрос</h2>
    <div th:if="${rentContract}">
        <p>Наименование: <a th:href="@{'/item/' + ${rentContract.rentalItem.id}}" th:text="${rentContract.rentalItem.title}"></a></p>
        <p>Пользователь: <a th:href="@{'/user/' + ${rentContract.borrowerId}}" th:text="${rentContract.borrowerName}"></a></p>
        <p>Сообщение: <span th:text="${rentContract.comment}"></span></p>
        <p th:if="${rentContract.reservedFrom}">Reserved From: <span th:text="${rentContract.reservedFrom}"></span></p>
        <p th:if="${rentContract.reservedTo}">Reserved To: <span th:text="${rentContract.reservedTo}"></span></p>
        <form th:action="@{'/rent/' + ${rentContract.id} + '/decide'}" th:object="${rentContract}" method="post">
            <input type="hidden" name="id" th:value="${rentContract.id}">
            <button type="submit" name="status" value="201" class="btn btn-primary mr-2">Confirm</button>
            <button type="submit" name="status" value="210" class="btn btn-danger">Reject</button>
        </form>
    </div>
    <div th:unless="${rentContract}">
        <p>Contract not found.</p>
    </div>
</div>
</body>
</html>
